
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarm</title>
    {% load static from staticfiles %}
    <link href="{% static 'resources/css/Bootstrap-3.3.6/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/css/datatables.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/css/Bootstrap-3.3.6/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/fancybox/jquery.fancybox.css' %}" rel="stylesheet"/>
    <link href="{% static 'resources/css/sticky-footer.css' %}" rel="stylesheet"/>
</head>
<body>

    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{%url 'alarm:dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{%url 'alarm:logs' %}"><i class="fa fa-file fa-fw"></i> Logs</a></li>
          <li><a href="{%url 'alarm:users' %}"><i class="fa fa-users fa-fw"></i> Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/authenticate/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</button></a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

      {% block heading %} {% endblock %}

    </div>

    <hr/>
    <br/>

    <div class="container">

      {% block body %} {% endblock %}

    </div>

    <br/>

    <footer class="footer">
      <div class="footer-container" align="center">
        <p class="text-muted">
            <b>Author: Silvian Dragan</b>
            <i>© Copyright 2017, Alarm, Licence: GPL v3</i>
        </p>
      </div>
    </footer>

    {% load staticfiles %}
    <script src="{% static 'resources/js/jquery.min.js' %}"></script>
    <script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'resources/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'resources/js/datatables.min.js' %}"></script>
    <script src="{% static 'resources/js/select2.min.js' %}"></script>
    <script src="{% static 'resources/js/blockui.js' %}"></script>
    <script src="{% static 'resources/fancybox/jquery.fancybox.js' %}"></script>
    {% block jsfiles %} {% endblock %}

</body>
</html>